.cell-list-item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.2s ease-in 0.1s;
}

.cell-list-item:hover {
  transform: scale(1.002);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.063);
}

#dark .cell-list-item {
  background-color: #212121;
  border: 1px solid #323232;
}

#light .cell-list-item {
  background-color: white;
}

.action-bar-wrapper {
  height: 30px;
  width: 100%;
}

#dark .action-bar-wrapper {
  background-color: #474747 !important;
}

#light .action-bar-wrapper {
  background-color: #d7d7d7 !important;
}
