.cell-list-item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

#dark .cell-list-item {
  background-color: #212121;
  border: 1px solid #323232;
}

#light .cell-list-item {
  background-color: white;
}

.action-bar-wrapper {
  height: 30px;
  width: 100%;
}

#dark .action-bar-wrapper {
  background-color: #474747 !important;
}

#light .action-bar-wrapper {
  background-color: #d7d7d7 !important;
}
