.react-resizable-handle {
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
}

#dark .react-resizable-handle {
  background-color: #474747;
}

#dark .react-resizable-handle:hover {
  background-color: #82828286;
}

#dark .react-resizable-handle:active {
  background-color: #828282b6;
}

#light .react-resizable-handle {
  background-color: #b5b5b5;
}

#light .react-resizable-handle:hover {
  background-color: #b0b0b0;
}

#light .react-resizable-handle:active {
  background-color: #999999;
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.react-resizable-handle-e {
  width: 10px;
  min-width: 10px;
  height: 100%;
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}
