.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

#dark .card {
  border: none;
  color: white;
  background-color: #212121;
}

#light .card {
  border: none;
  color: black;
  background-color: white;
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
}

.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.w-md-editor-bar {
  transform: translateY(2px);
}

.text-editor .w-md-editor-bar {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  height: 11px;
  cursor: row-resize;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
  z-index: 100;
}

.text-editor em {
  font-style: italic;
}

#dark .text-editor .wmde-markdown hr {
  border-top: 1px solid #f8f8f8;
}

.text-editor .wmde-markdown ol {
  list-style: decimal;
}

.text-editor .w-md-editor-show-live {
  /* Hide menu bar buttons to prevent accidental delete */
  z-index: 20;
}

.w-md-editor-toolbar {
  padding-left: 8px !important;
}

#dark .text-editor .w-md-editor-toolbar {
  background-color: #272727;
  border-bottom: none;
}

#light .text-editor .w-md-editor-toolbar {
  background-color: white;
  border-bottom: none;
}

#dark .text-editor .w-md-editor-toolbar li button {
  background-color: #474747;
  color: white;
}

#light .text-editor .w-md-editor-toolbar li button {
  background-color: white;
  color: black;
}

#dark .text-editor .w-md-editor-content {
  background-color: #212121;
  color: white;
}

#light .text-editor .w-md-editor-content {
  background-color: white;
  color: black;
}

#dark .text-editor .w-md-editor,
#dark .text-editor .w-md-editor .w-md-editor-text-pre {
  background-color: #212121;
  color: #ffffff;
}

#light .text-editor .w-md-editor,
#light .text-editor .w-md-editor .w-md-editor-text-pre {
  background-color: white;
  color: #000000;
}

.text-editor .bold {
  color: unset;
}

.text-editor .token.list.punctuation {
  background-color: unset;
}

.token .tag {
  margin: unset;
  padding: unset;
}

#dark .wmde-markdown hr {
  border-top: 1px solid white !important;
}

#light .wmde-markdown hr {
  border-top: 1px solid black !important;
}

#dark .w-md-editor * {
  color: white;
}

#dark .w-md-editor-text * {
  color: white !important;
  background-color: unset;
}

#light .w-md-editor * {
  color: black !important;
  background-color: unset;
}

#dark .text-editor .w-md-editor-bar {
  background-color: #272727;
}

#light .text-editor .w-md-editor-bar {
  background-color: white;
}
