.code-cell {
  height: calc(100% - 10px);
  display: flex;
  flex-direction: row;
}

.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}

.progress-cover {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s ease-in-out;
}

.progress-cover .progress {
  max-width: 10rem;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
