.code-cell {
  height: calc(100% - 10px);
  display: flex;
  flex-direction: row;
}

.progress-cover {
  height: 100%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.progress-cover .progress {
  max-width: 10rem;
  margin: 0 auto;
}
